nav {
  display: flex;
  justify-content: space-around;
  top: 0;
  width: 100%;
  align-self: center;
  background-color: #40495e;
}

.header-title {
  font-family: 'DM Serif Display', serif;
  margin: 0%;
  margin-top: .5%;
  margin-left: 14vw;
  margin-right: -15vw;
  font-size: 8vh;
  color: white;
}

.logo-img,
.logo-button {
  cursor:pointer;
  width: 20vw;
  height: 20vh;
  background: transparent;
  border: none;
}

.search {
  margin-top: 2vh;
  height: 50%;
  width: 50%;
}

.search-container {
  display: flex;
  margin-right:-20vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchInput {
  width: 20rem;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: none;
  transition: transform 0.1s ease-in-out;
}

.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}